#bg {
	width: 100%;
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
}

.box {
	height: 50px;
	width: 20%;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 0px;
	padding: 3px;
	font-size: 12pt;
	display: inline-block;
}

.boxtwo {
	height: 50px;
	width: 80%;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 0px;
	padding: 3px;
	font-size: 12pt;
	display: inline-block;
}

ul {
	list-style-type: none;
	padding: 0px;
}

li {
	height: 50px;
	width: 20%;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 10px;
	padding: 3px;
	font-size: 12pt;
}

a:visited {
	color: black;
}

a:link {
	color: black;
}

a:hover {
	color: black;
}

a:active {
	color: black;
}